{% extends 'base.html' %} {% load static %} {% block content %}
<!-- HOME -->
<section class="section-hero overlay inner-page bg-image" style="background-image: url('../static/images/hero_1.jpg')"
    id="home-section">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1 class="text-white font-weight-bold">Our Participants</h1>
                <div class="custom-breadcrumbs">
                    <a href="/">Home</a> <span class="mx-2 slash">/</span>
                    <span class="text-white"><strong>Students</strong></span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="site-section">
    <div class="container">

        <h3>1. Mustapha Jamil Mukhtar <span class="capitalize">CST/18/COM/00061</span></h3>
        <h3>2. Muhammad Al-Amin Muhammad <span class="capitalize">CST/18/COM/00076</span></h3>
        <h3>3. Tahir Ismail <span class="capitalize">CST/18/COM/00057</span></h3>
        <h3>4. Sadiq Kabiru Aliyu <span class="capitalize">CST/18/COM/00094</span></h3>
    </div>
</section>
{% endblock %}